/* Corpo principal da página */
body {
    background-image: url(/img/fundoAzul.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
}
/* Fonte Padrão da pagina */
.fontPadrao {
    font-family: 'Courier New', Courier, monospace;
}
/* Centralizar texto */
.centralizarTexto {
    text-align: center;
}
/* Paragrafo padrão */
.paragrafoPadrao {
    text-indent: 20px;
    text-align: justify;
    font-size: large;
    margin: 2%;
}
/* Margem padrão */
.margemPadrao {
    margin: 1%;
}
/* links padrao */
.linkPadrao {
    font-size: large;
    color: black;
    text-decoration: none;
}
.linkPadrao:hover {
    text-decoration:underline;
    font-size: x-large;
}

/* Lista padrao */
.listaPadrao {
    height: 100%;
}
.listaPadrao li {
    margin: 5%;
    padding: 5%;
    font-size: x-large;
}

/* Cabcalho possui uma unica linha e coluna com ajuste dinamico */
.cabecalho {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 0.25%;
    height: 15%;
}
.cabecalho header {
    padding: 0.25%;
    justify-items: center;
}
.cabecalho header h1 {
    font-size: xx-large;
}
.cabecalho header nav button {
    background-color: transparent;
    border-radius: 15px;
}
.cabecalho header nav button:hover {
    background-color: rgb(152, 130, 223);
    transition: 3S;
}

/* Conteudo da home */
#conteudoHome {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
#mainHome {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
#mainHome h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
#secao1Home {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-items: center;
}
#secao1Home table {
    border-collapse: collapse;
    width: 98%;
    height: 58.5%;
}
#secao1Home table tr th {
    border: solid;
    border-color: rgb(84, 125, 160);
    font-style: italic;
    font-size: 130%;
}
#secao1Home table tr td {
    border: solid;
    border-color: rgb(84, 125, 160);
}
#secao2Home {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#secao2Home video {
    border-radius: 30px;;
    width: 98%;
    height: auto;
}
/* Pagina de catalogo de cursos */
#catalogoDeCursos {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding-bottom: 15%;
}
#catalogoDeCursos:hover {
    border: solid;
    border-radius: 30px;
    border-color: aqua;
}
/* tag main */
#Cursos {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}
#Cursos h1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.secao3Front {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.secao4Back {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.secao5Apps {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* Rodape padronizado */
.rodape {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    /* margin-top: 10%; */
}
.rodape footer {
    color: rgb(255, 255, 255);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.modeloTutorial {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
}

.modeloTutorial:hover {
    border: solid;
    border-radius: 30px;
    border-color: aqua;
}
.modeloTutorial main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.modeloTutorial section {
    margin: -2px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.modeloTutorial section ul li {
    /* Remover padding e margin para ganhar espaço */
    padding: 0px;
    margin: 0px;

    /* Diminuir a fonte para caber melhor dentro da seção */
    font-size: xx-small;
}
.modeloTutorial section ul li:hover {
    background-color: rgb(212, 225, 238);
}

#contato {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 5%;
    margin: 5%;
}

#formContato {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 1%;
}

#formContato label {
    font-size: x-large;
}

#formContato input {
    background-color: transparent;
    border: double;
    border-radius: 15px;
    margin: 2%;
    padding: 2%;
    font-size: large;
}
#formContato input:hover {
    border-color: blue;
}

#formContato button {
    font-size: 150%;
    border: outset;
    border-radius: 15px;
    border-color: aqua cyan;
    background-color: transparent;
    margin: 2%;
}
#formContato button:hover {
    color: blue;
    font-size: 200%;
}