.bordaFinaPreta {
    border: solid black 1px;
}

.larguraAltura100 {
    width: 100%;
    height: 100%;
}

.margemPaddin0px {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Cores da pagina */
.corFundoRosaClaro {
    background-color: #ffeff2;
}

.corRosaClaro {
    color: #ffeff2;
}


.corFundoPreto {
    background-color: #000000;
}
.corPreto {
    color: #000000;
}


.corFundoAzulClaro {
    background-color: #afb2ea;
}

.corAzulClaro {
    color: #afb2ea;
}
